
/* All Pages */

body {
    background-color: #FFE04E;
}

h1 {
    margin-top: 2rem;
    font-size: 4rem;
    font-family: 'Londrina Sketch', cursive;
    letter-spacing: 1px;
}

a {
   text-decoration: none;
   color: black;
}

a:hover {
    text-decoration: none;
    color: #26B200;
}

h2 {
    margin-top: 1.5rem;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
}

.btn {
    margin-top: 1rem;
    background-color: #B20A91;
    border: 1px solid #B20A91;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #7F0768;
    border: 1px solid #B20A91;
}

/* Gif Page only */

form {
    margin-top: 1.5rem;
    margin-left: .5rem;
}

.input-field {
    border: none;
}

.tv-show {
    margin: .3rem;
}

img,
.add-fav {
    margin: .7rem;
}

.new-gif {
    float: left;
    width: 30%;
}